*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100vw;
    height: 100vh;
}
#nav-bar{
    background-color: rebeccapurple;
    padding:1rem;
    color: white;
}
#container{
    width: 25%;
    height: auto;
    padding: 2rem;
    line-height: 2rem;
}
#title{
    padding: 0.5rem;
}
#author-name{
    padding: 0.5rem;
}
#para{
    padding: 0.5rem;
    line-height: 2rem;
}
#delete-btn{
    width: 5rem;
    height: auto;
    padding: 0.5rem;
}
#popup-btn{
background-color: rgb(106, 76, 161);
color: white;
border-radius: 100%;
height: 5rem;
width: 5rem;
border: none;
font-size: larger;
font-weight: 500;
position: fixed;
bottom: 100px;
right: 100px;
}
#popup-box{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding :2rem 1rem 1rem 1rem ;
    gap: 1rem;
    width: 20rem;
    position: absolute;
    left: 50rem;
    bottom: 25rem;
}
#book-title-input{
    padding: 0.5rem;
    width: 15rem;
    height: auto;
}
#author-name-input{
    padding: 0.5rem;
    width: 15rem;
    height: auto;
}
#description{
    padding: 0.5rem;
    width: 15rem;
    height: auto;
}
#sub-popup-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
#btn-add{
    width: 5rem;
    height: auto;
    padding: 0.5rem;
}
#btn-remove{
    width: 5rem;
    height: auto;
    padding: 0.5rem;
}